<!doctype html>
<html class="no-js" lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="white-background">


		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <%- include('./partials/nav.ejs') %>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb-content text-center">
                                <h2 class="title">About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- about-area -->
            <section class="about-area" id="about-gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 order-0 order-lg-2">
                            <div class="about-img">
                                <img src="assets/img/images/about_img01.jpg" alt="img">
                                <img src="assets/img/images/about_img02.jpg" alt="img" class="img-two">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="about-content">
                                <div class="section-title">
                                    <span class="sub-title">who we are</span>
                                    <h2 class="title">OSL Spaces</h2>
                                </div>
                                <p>OSL spaces is a subsidiary of Orchid Spring Limited. At OSL spaces, we ensure that we provide professionals with the most outstanding working space, featuring state of the art facilities.</p>
                                <ul>
                                    <li><i class="flaticon-tick-1"></i>Pre-Book Your Work Space Today.</li>
                                    <li><i class="flaticon-tick-1"></i>Get The Most For Your Pay.</li>
                                    <li><i class="flaticon-tick-1"></i>Relax And Optimize Your Work Efficiency.</li>
                                </ul>
                                <a href="/contact" class="btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->

            <!-- destination-area -->
            <section class="destination-area destination-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="section-title">
                                <span class="sub-title">Offer Deals</span>
                                <h2 class="title">Your Efficient Work Space</h2>
                            </div>
                            <div class="destination-content">
                                <p>Get rewarded for your space subscription with a free <span>OSL Spaces</span> account</p>
                                <ul>
                                    <li>
                                        <div class="counter-item">
                                            <div class="counter-content">
                                                <h2 class="count"><span class="odometer" data-count="10"></span>+</h2>
                                                <p>Happy Customers</p>
                                            </div>
                                            <div class="counter-icon">
                                                <i class="flaticon-group"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter-item">
                                            <div class="counter-content">
                                                <h2 class="count"><span class="odometer" data-count="100"></span>%</h2>
                                                <p>Client Satisfied</p>
                                            </div>
                                            <div class="counter-icon">
                                                <i class="flaticon-globe"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="content-bottom">
                                    <p>Discover the latest offers & news and start planning</p>
                                    <a href="/contact">contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- destination-area-end -->


            <!-- faq-area -->
            <section class="faq-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="faq-content">
                                <div class="section-title">
                                    <span class="sub-title">asked questions</span>
                                    <h2 class="title">Frequently Asked Questions</h2>
                                </div>
                                <p>Take a look at out frequently asked questions</p>
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                How to Find Directions <span class="dot"></span>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>No need to worry. At all of office's street enterances, there are direction pointers so that you don not get lost.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Contact in Case of Emergency <span class="dot"></span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>We have a quick response strategy in case of emergencies. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Safety & Security <span class="dot"></span>
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>Our woek spaces are setup with your safety in mind. All security measures have been put in place to ensure your safety.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-10">
                            <div class="faq-img">
                                <img src="assets/img/images/faq_img.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- faq-area-end -->

        </main>
        <!-- main-area-end -->

        <!-- footer-area -->
        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>
