<!doctype html>
<html class="no-js" lang="">
    <%- include('./partials/head.ejs') %>
    <body class="white-background">

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb-content text-center">
                                <% if(status === "success"){%>
                                    <div>
                                        <div class="success-checkmark">
                                            <i class="checkmark">✓</i>
                                        </div>
                                        <h2 class="title">Congratulations your space has been reserved</h2>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/">Go Home</a></li>
                                                <li class="breadcrumb-item"><a href="#payment-details">Check Details</a></li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <% } else if(status === 'failed') { %>
                                    <div>
                                        <div class="failure-checkmark">
                                            <i class="checkmark">X</i>
                                        </div>
                                        <h2 class="title">Transaction failed</h2>
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/">Go Home</a></li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <% } else if(status === 'cancelled') { %>
                                        <div>
                                            <div class="failure-checkmark">
                                                <i class="checkmark">X</i>
                                            </div>
                                            <h2 class="title">Cancelled Transaction</h2>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="/">Go Home</a></li>
                                                </ol>
                                            </nav>
                                        </div>
                                    <% } else { %>
                                        <div>
                                            <h2 class="title">Reservation Details</h2>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="/">Go Home</a></li>
                                                    <li class="breadcrumb-item"><a href="#payment-details">Check Details</a></li>
                                                </ol>
                                            </nav>
                                        </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- customer-details-area-end -->

            <!-- booking-details-area -->
            <!-- booking-details-area-end -->

        </main>
        <!-- main-area-end -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
<!-- https://orchidspring2.onrender.com/confirmation?status=completed&tx_ref=1b4fcc5a-fba4-476d-aef9-288137ce0d0b&transaction_id=1053059604 -->