<!doctype html>
<html class="no-js" lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="white-background">


		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <%- include('./partials/nav.ejs') %>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb-content text-center">
                                <h2 class="title">Gallery</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <section class="flight-offer-area mt-35">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10 gallery-img-container">
                            <img src="assets/img/images/offer_img04.jpg" alt="" style="border-radius: 30px;">
                        </div>
                        <div class="col-lg-6 col-md-10 gallery-img-container">
                            <img src="assets/img/images/offer_img03.jpg" alt="" style="border-radius: 30px;">
                        </div>
                        <div class="col-lg-6 col-md-10 gallery-img-container">
                            <img src="assets/img/images/offer_img02.jpg" alt="" style="border-radius: 30px;">
                        </div>
                        <div class="col-lg-6 col-md-10 gallery-img-container">
                            <img src="assets/img/images/offer_img01.jpg" alt="" style="border-radius: 30px;">
                        </div>
                        <div class="col-lg-6 col-md-10 gallery-img-container">
                            <img src="assets/img/images/about_img01.jpg" alt="" style="border-radius: 30px;">
                        </div>
                        <div class="col-lg-6 col-md-10 gallery-img-container">
                            <img src="assets/img/images/offer_img06.jpg" alt="" style="border-radius: 30px;">
                        </div>

                    </div>
                </div>
            </section>

        </main>
        <!-- main-area-end -->

        <!-- footer-area -->
        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>
