<!doctype html>
<html class="no-js" lang="">
    <%- include('./partials/head.ejs') %>
    <body class="white-background">

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <%- include('./partials/nav.ejs') %>
        <!-- header-area-end -->


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb-content text-center mt-10">
                                <h2 class="title">OrchidSpring Booking</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Promos</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            

            <!-- booking-area -->
            <div class="booking-area booking-style-two">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="booking-wrap">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="bOOKing-tab" data-bs-toggle="tab"
                                            data-bs-target="#bOOKing-tab-pane" type="button" role="tab"
                                            aria-controls="bOOKing-tab-pane" aria-selected="true"><i class="flaticon-calendar-1"></i>Our Weekly Promo</button>
                                    </li>
                                   
                                
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="bOOKing-tab-pane" role="tabpanel"
                                        aria-labelledby="bOOKing-tab" tabindex="0">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="tab-content-wrap">
                                                    <div class="content-top">
                                                        <!-- <ul>
                                                            <li class="active"><a href="#">Roundtrip</a></li>
                                                            <li><a href="#">One-way</a></li>
                                                            <li><a href="#">Multi-city jgfyugu</a></li>
                                                        </ul> -->
                                                            <label class="my-6 alert alert-primary">Please note you can only select a start date as the promo is valid for a 7 day selection only!</label>
                                                    </div>
                                                    <form action="#" class="booking-form">
                                                        <ul>
                                                            <li>
                                                                <div class="form-grp">
                                                                    <label for="">Starting date</label>
                                                                    <input type="text" class="date"
                                                                        placeholder="Select Date">
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-grp">
                                                                    <button class="exchange-icon" disabled><i
                                                                            class="flaticon-arrow-right">&#8594;</i></button>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-grp">
                                                                    <label for="shortBy">Ends</label>
                                                                    <input type="text" class="date"
                                                                        placeholder="Select Date" disabled>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </form>
                                                    <div class="content-bottom">
                                                        <a class="btn">Proceed</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- booking-area-end -->


        </main>
        <!-- main-area-end -->

        <!-- footer-area -->
        <%- include('./partials/footer.ejs') %>

    </body>
</html>
