<!doctype html>
<html class="no-js" lang="">
    <%- include('./partials/head.ejs') %>
    <body class="white-background">
        <main>

            <!-- booking-list-area -->
            <div class="booking-list-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-73">
                          <p class="text-center display-6">
                           Welcome to OrchidSprings API, for more information <a href="mailto:irochibuzor@gmail.com"> contact</a>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- booking-list-area-end -->

        </main>

    </body>
</html>
