        <!-- footer-area -->
        <section id="footer">
            <div><a href="#"><img src="assets/images/Orchid springs Logo-05.png" alt=""></a></div>
            <p>Orchid Springs Limited is a registered Energy, Data and Optimization consultancy. 
                Our focus is on our clients' most critical concerns and opportunities. 
            </p>
            <span>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <a href="https://www.linkedin.com/company/orchid-springs-limited/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="mailto:info@orchidsprings.group"><i class="fa-solid fa-envelope"></i></a>
            </span>
            <span>+234 806 578 4393</span>
            <span>Plot 66, Block F, Osongama Estate Ext. Uyo,<br>
            Akwa Ibom State, <br>
        Nigeria.</span>
            <!-- <span id="locationfnt">Traps road, Lekki Penninsula II, Lekki</span> -->
        </section>
        <!-- footer-area-end -->


        <!-- JS here -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.odometer.min.js"></script>
        <script src="assets/js/bootstrap-datepicker.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery-ui.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/handle.requests.min.js"></script>